# Logs
logs
*.log
npm-debug.log*

# Compiled output
dist/
coverage/
*.tsbuildinfo

# Dependencies
node_modules/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# macOS
.AppleDouble
.LSOverride
._*

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings